# Persistence Mode: "file" or "postgres"
PERSISTENCE_MODE=postgres

# Database URL for Postgres
DATABASE_URL=postgres://user:password@localhost:5432/polpettone

# JWT Secret for Auth (Production)
JWT_SECRET=super-secret-key-change-me-in-production
